.activity-log {
  margin-top:20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .ui.negative.button {
    background-color: $bad-things-color !important;
  }



  .title{
    font-size:16px;
    font-weight: bold;
  }
  .header-section {
    font-weight: bold;

    .divider {
      position: static;
      width: 100%;
      transform: translate(0,13px);
      height: 1px;
      background-color: #eaeaea;
    }
  }

  .left-section {
    float: left;
    display: inline-block;
    max-width: 800px;
    margin-right: 18px;
    margin-top: 13px;
    .top-container{
      padding-left: 0px;
      padding-right: 0px;
      margin-bottom: 11px;
      .field{
        display: inline-block;
      }
      .field:not(:last-child){
        margin-right:10px;
      }
      .field:last-child{
        margin-left: 50px;
      }
      .basic.button{
        background-color: white !important;
      }
    }

    .middle-container{
      border-radius:5px;
      background-color:white;
      .ui.row{
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .ui.row:not(.header-section) {
      cursor: pointer;
    }

    .ui.row:not(.header-section):not(.selected):hover {
      background-color: $hover-color;
    }

    .ui.row.selected {
      background-color: $app-color;

      color: white;
    }

    .failed.status {
      color: $bad-things-color ;
    }

    .actions.column {
      font-weight: bold;
    }
  }

  .right-section {
    max-width: 400px;
    .top-container{
      height: 63px;
      padding-top: 19px;
      .checkbox-container{
        float:right;
        margin-left:10px;
        .checkbox{
          margin-left:10px;
          transform: translateY(5px);
        }
      }
    }
    .bottom-container{
      padding-top:10px;
      padding-left:20px;
      padding-right:20px;
      padding-bottom: 10px;
      min-width: 250px;
      border-radius:5px;
      background-color: white;
      float: left;
      display: inline-block;
      .divider {
        position: static;
        width: 100%;
        transform: translate(0,13px);
        height: 1px;
        background-color: #f4f4f4;
      }

      .metadata-field{
        margin-top:20px;
        padding: 10px;
        background-color:#f4f4f4;
        .sub-title{
          margin-top:0px;
          margin-bottom:10px;
        }
        .metadata-item{
          margin-bottom:10px;
        }
      }

      .sub-title{
        font-weight: bold;
        margin-top:20px
      }
    }
  }

  .ui.dropdown {
    max-width: 200px !important;
    min-width: 157px !important;
  }

  input {
    max-width: 200px !important;
  }
}
